body {
  /* Main page that visitors see */
  background-color: mediumseagreen;
    font-family: "Helvetica", sans-serif;
    color: purple;
}
 h1 {
  /* Largest heading */
    color: Azure;
    font-family: "Times New Roman", serif;
  }


nav ul {
  /* Navigation bar */
    background-color: #ff6347;
    border-style: solid;
    border-color: MediumVioletRed;
    border-width: 2px;
    padding: 10px;
    border-radius: 10px;
  }

    nav ul li {
      /* Items in the navigation bar */
        list-style-type: none;
        display: inline;
        margin-right: 10px;
        margin-left: 10px;
        color: PapayaWhip;
    }
    nav ul li a {
      /* Linked items in the navigation bar */
      text-decoration: none;
      color: indigo;
  }

img {
/* Images */
  border-radius: 20px;
}
img:hover {
  /* Hovering over images */
  border: 2px dashed navy;
}

.niceLinks {
  text-decoration: none;
  color: #fffaf0;
}
.niceLinks:hover {
  color: #00ff7f;
}

.topDivider {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #f5fffa;
  padding-bottom: 10px;
}

.stylishBox {
  background-color: #87CEFA;
  color: #A52A2A;
  border-style: solid;
  border-width: 2px;
  border-color: #F5FFFA;
  border-radius: 10px;
}

.someSpacing {
  padding: 10px;
  margin-top: 20px;
}

#myCoolText {
  color: #036;
  border: 2px ridge #cff;
  padding: 15px;
  text-align: center;
}

#frontPage {
  background: #48d1cc;
  background: linear-gradient(#fea3aa,#f8b88b,#faf884,#baed91,#baed91,#b2cefe,#f2a2e8,#fea3aa);
}





/**********************************
This section is for styling tables
***********************************/
table, th, td {
  border: 1px solid HoneyDew;
  border-collapse: collapse;
}
tr {
  background-color: PaleTurquoise;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: purple;
}
td {
  color: purple;
}
/********************************/